.articlelist {

    height: 100%;
    width: 100%;
    position: absolute;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;

}

.articlelist__list {
    /* width: 100%; */
    /* overflow: hidden; */
    list-style: none;
    padding: 0;
    
    /* padding-inline-start:0;
    margin-block-start:0;
    margin-block-end: 0; */
    margin-block:0;
    
}

.articlelist__listitemheader {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  display: flex;
  height: 60px;
  /* border: 1px solid white; */

  scrollbar-width: none;
  cursor: grab;
}

.articlelist__listitem {
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    display: flex;
    height: 60px;
    /* border: 1px solid white; */
 
    scrollbar-width: none;
    cursor: grab;

}

.articlelist__listitem--fit {
  height: fit-content;
}

.articlelist__listitem--hidden {
  max-height:0 !important;
  margin: 0 !important;

}

/* .articlelist__listitem--nodisplay {
  /* display:none !important; */
    max-height: 0 !important;
    margin: 0 !important;
} */



.articlelist__listitem--flexcol {
  flex-direction: column;
}

.articlelist__listitem--locked {
  position:sticky;
  position: -webkit-sticky;
  
  top: 0;
  background-color: var(--bkgroundcolor);
  z-index:2;
}

.articlelist__listitem:-webkit-scrollbar {
    display: none;
}

.articlelist__listitem > * {
    scroll-snap-align: start;
    font-size: 2rem;
}

.articlelist__listitembutton {
    border: none;
    background-color: var(--bkgroundcolor);
    cursor: pointer;
  }
  
  .articlelist__listitembutton--hidden {
    display:none;
  }
    
  .articlelist__listitembutton:first-of-type {
    flex: 1 0 10%;
    color: var(--swipealtbuttoncolor);
  }

  .articlelist__listitembutton:last-of-type {
    flex: 1 0 10%;
    color: var(--swipedelbuttoncolor);
  }
  
  .articlelist__listitemcontent {
    display: flex;
    flex: 2 0 100%;
    color: white;
    /* background-color: slategrey; */
    padding: 0.3em;
    position:relative;
    font-size: 1em;

    border-bottom: var(--bordercolor) 1px solid;

  }

  .articlelist__listitemcontent--orderloc {
    border-bottom: none;
  }

  .articlelist__listitemimg {
      flex: 0 0 auto;
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.articlelist__listitemdata {
    display:flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
}

  .articlelist__listitemtitle {
      display:flex;
      /* position: absolute; */
      color:var(--listitmtitlecolor);
      padding-bottom: 0.1em;
      

  }

  .articlelist__listitemquantcont {
    
      display:flex;
      flex: 1 1 auto;

   
  }

  .articlelist__listitemtextquant {
    flex: 1 1 auto;
    border: 1px solid var(--fgcolor);
    border-radius: 2px;
    max-width:4em;
    min-width:3em;
    height:1.5em;
    color:var(--fgcolor);;
    padding: .1em;
  
  }

  .articlelist__listitemtextqual {
    flex: 1 1 auto;
    color: var(--fgcolor);
    background-color: var(--bkgroundcolor);
    border-radius: 2px;
    height:1.5em;
    padding: 0;
    margin-left:5px;
    max-width:6em;
    min-width:3em;
    text-align: center;
  }

  .articlelist__listitemtextqual--selected {
    background-color: var(--fgcolor);
    color: var(--btnfgcolor);
  }

  .articlelist__listitem::-webkit-scrollbar {
      display:none;
  }

  .articlelist__listitem--orderloc {
    font-size: 1em;
    display: flex;
  
    margin: 2px 6px 4px 6px;
    /* margin:6px; */
    /* border: var(--bordercolor) 2px solid; */
    box-shadow: 3px 3px 2px var(--bordercolor) ;
    border-radius:2px;
    align-items: center;  
  
  
         /* display:none; */
         /* display: flex; */
         scrollbar-width: none;
         cursor: grab;
         /* position: relative; */
         /* position:sticky; */
         /* position: -webkit-sticky; */
         /* top: 0;
         background: var(--bkgroundcolor);
         z-index:2; */
         /* animation: moveInTop 1s; */
         max-height: 56px;
         transition: max-height 0.25s linear;
  
  }

  .articlelist__listitems--lockedtop {

    position:sticky;
    /* position: -webkit-sticky; */
    top: 0;
    background: var(--bkgroundcolor);
    z-index:2;
    transition: 2s linear;
    /* max-height: 500px; */

  }


  @media screen and (max-width: 750px) {

    .articlelist__listitems--lockedtop {
      display: block ;

    }


  }

  @media screen and (min-width: 751px) {

    .articlelist__listitems--lockedtop {
      display: none ;

    }
/* 
    .articlelist__listitem--orderloc {
      display: none ;
    } */
  }


  .articlelist__listitem--lockedbottom {
    display:none;
    display: flex;
    scrollbar-width: none;
    cursor: grab;
    position: relative;
    position:sticky;
    position: -webkit-sticky;
    bottom: 0;
    background: var(--bkgroundcolor);
    z-index:2;
    animation: moveInBottom 1s;
}


@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.articlelist__orderbtncontainer, .articlelist__scontainer{
  display: flex;
  flex: 0 0 100%;
  /* color: white; */
  /* background-color: slategrey; */
  padding: 0.1em;
  position:relative;
  /* font-size: 1em; */
  
}

.articlelist__orderbtn {
  flex: 0 1 auto;
  width: 100%;
  /* font-family: 'Montserrat', sans-serif;
  font-weight: 400; */
  /* line-height: 1; */
  color: var(--btnfgcolor);
  font-size: clamp(0.7em,7vw,1em);
  /* height: 50px; */
  background: var(--buttoncolor);
  border-radius: 4px;
  border: none;
}

.articlelist__orderlocmob {
  font-size: 1em;
  flex: 1 0 auto; 
  display: flex;
  align-items: center;
}

.articlelist__orderlocmobinfo {
  
  flex: 1 0 auto;
  padding:4px;
  color: var(--fgcolor);

}

.articlelist__orderlocmobselected {
  
  flex: 0 0 auto;
  padding:4px;
  color: var(--buttoncolor);

}

.articlelist__orderlocmobselected--hidden {
  
  display:none

}

.articlelist__orderlocmobmap {
  flex: 0 1 auto;
  color: var(--fgcolor);
}

@media(hover: hover) and (pointer: fine) {
  articlelist__orderlocmob a:hover {
    background-color: greenyellow;
  }
}
 
.articlelist__orderlocinfomob {
  flex: 1 0 auto;
  padding:4px;
  
}

.articlelist__orderlocmapmob {
  flex: 0 1 auto;
}



.articlelist__orderlocmobbtn1 {
  border: none;
  color: var(--bkgroundcolor);
  cursor: pointer;
}

.articlelist__orderlocmobbtn1:first-of-type {
  flex: 1 0 10%;
  background-color: var(--swipealtbuttoncolor);
}

.articlelist__orderlocmobbtn1:last-of-type {
  flex: 1 0 10%;
  background-color: var(--swipedelbuttoncolor);
}





.articlelist__orderloc {
  /* display: flex; */
  /* padding: 4px; */
  font-size: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  height: 100px;

margin: 2px 6px 4px 6px;
  /* margin:6px; */
  /* border: var(--bordercolor) 2px solid; */
  box-shadow: 3px 3px 2px var(--bordercolor) ;
  border-radius:2px;

}
 
.articlelist__orderlocdate {
  grid-column: 1; 
  grid-row: 1 ;
  padding:4px;
}

.articlelist__orderloccity {
  grid-column: 1; 
  grid-row: 2 ;
}

.articlelist__orderlocmap {
  grid-column: 2 ;
  grid-row: 1 / -1 ;
  height:100%;
}






