    .container {
        /* container */
        display: flex;
        /* columnn (vertical flex) */
        flex-flow: column nowrap;
        /* start at top */
        justify-content: flex-start;
        /* cross axis (horizontal) stretch items*/
        align-items: stretch;
        /* align-content: stretch; */
        width: 100vw;
        min-height: 100vh;
        /* mobilesafari fix */
        min-height: -webkit-fill-available;
    }


    
    .container__topbar {
        flex: 0 1 auto;
        background-color:  var(--barbkgroundcolor);
        border-bottom: var(--bordercolor) solid 1px;
    }
    
    .container__content {
        display:flex;
        flex-direction: row;
        flex: 1 1 auto;
 
    }

    .container__contentleft {

        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-direction: row; */
        flex: 1 1 auto;
        /* background-color: orange; */
        position:relative;
    }

    .container__contentright {

        flex: 0;
        transition: all 0.2s;
        width: auto;
    
    }
    
    @media screen and (max-width: 750px) {
        .container__bottombar {

            border-top: var(--bordercolor) solid 1px;
            flex: 0 1 auto;
            background-color: var(--barbkgroundcolor);
        }
        .container__mobilemenu:fullscreen {
            padding-bottom: 20px;
        }

        .container__contentright {
            flex: 0;
            width: 0;
            overflow:hidden;
        }
    }
    
    @media screen and (min-width: 751px) {
        .container__bottombar {
            display: none;
        }

        .container__contentright {
            flex:1;
        }
    }