
.form__wrapper {
    display: flex;
    position: relative;
    /* flex-flow:row nowrap; */
}

.form__formwrapper {
    display: flex;
    flex-flow: column nowrap;
    /* flex: 0 1 auto; */
    /* width: 100%; */
}

.form__label {
    flex: 0 1 auto;
    align-self: center;
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 70px;
}

@media screen and (max-width: 500px) {
    .form__iconmobile {
        /* flex: 0 1 auto; */
        /* align-self: center; */
        position: absolute;
        padding: 10px;
        top: -75px;
        /* left: 107px; */
        width: 100px;
        height: 100px;
        border-radius: 60px;
        left: 50%;
        transform: translate(-50%, 0%);
        /* or 50% */
        border: 2px solid rgba(25, 25, 25, 0.25);
        background: #FFFFFF;
    }
    .form__icondesktop {
        display: none;
    }
}

@media screen and (min-width: 501px) {
    .form__icondesktop {
        flex: 0 1 auto;
        align-self: center;
        /* position: absolute;
top:0px;
left: -250px;        */
        width: 140px;
        height: 140px;
        border-radius: 20px;
        margin-right: 20px;
        /* or 50% */
        /* border: 2px solid rgba(25, 25, 25, 0.25); */
    }
    .form__iconmobile {
        display: none;
    }
    .form__label {
        padding-top: 20px;
    }
}

.form__form {
    /* /* display: flex; */
    flex-flow: column nowrap;
    flex: 0 1 auto; */
}

.form__forminputwrapper {
    display: flex;
    /* justify-content: flex-end;
    flex: 0 1 auto;
    width: 100%; */
    /* z-index: 1; */
    margin-bottom: 10px;
    position: relative;
    /* color: #666666; */
    /* display: block; */
    /* background: #e6e6e6; */
    /* height:50px; */
    /* border-radius: 4px; */
    /* padding: 0 30px 0 68px; */
}

.form__forminputlabel {
    /* flex: 0 1 auto; */
    position: absolute;
    /* width: 100%; */
    /* height:50px; */
    left: 40px;
    top: 15px;
    /* font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.2em; */
    /* color: #777; */
    font-size: 1.5em;
    transition: .3s all ease;
}

/* if focus on input or placeholder not shown*/

.form__forminput:not(:placeholder-shown)~.form__forminputlabel, .form__forminput:focus~.form__forminputlabel {
    top: 5px;
    font-size: .5em;
}

/* .form__forminput:not(:placeholder-shown) ~ .form__forminputlabel {
    top:5px;
    font-size: .5em;
} */

.form__forminputlabelvalmgs {
    display: none;
}

.form__forminput:not(:placeholder-shown)~.form__forminputlabel>.form__forminputlabelvalmgs, .form__forminput:focus~.form__forminputlabel>.form__forminputlabelvalmgs {
    /* transition: 1s ease-in; */
    padding-left: 5px;
    display: initial;
    color: red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form__forminput,
input.form__forminput:-webkit-autofill, /* autofill browser styling disabled */
input.form__forminput:-webkit-autofill:hover, 
input.form__forminput:-webkit-autofill:focus, 
textarea.form__forminput:-webkit-autofill,
textarea.form__forminput:-webkit-autofill:hover,
textarea.form__forminput:-webkit-autofill:focus,
select.form__forminput:-webkit-autofill,
select.form__forminput:-webkit-autofill:hover,
select.form__forminput:-webkit-autofill:focus  {
    flex: 0 1 auto;
    /* position: absolute; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #777;
    -webkit-text-fill-color: #777;
    font-size: 1.5em;
    height: 50px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 5px;
    background: none;
    outline: none;
    border: none;
    max-width:300px;
    min-width: 250px;
    
    overflow: visible;
    touch-action: manipulation;
    background: #e6e6e6;
    -webkit-box-shadow: 0 0 0px 1000px #e6e6e6 inset;
    border-radius: 4px;
}

.form__forminputsymbol {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -2px;
    /* left: 0; */
    height: 100%;
    padding-left: 10px;
    pointer-events: none;
    color: #666666;
    font-size: 1.5em;
    transition: all 0.4s;
}

.form__forminput:not(:placeholder-shown)~.form__forminputsymbol, .form__forminput:focus~.form__forminputsymbol {
    /* transition: 1s ease-in; */
    padding-left: 5px;
}

.form__forminputbutton {
    -webkit-appearance: none;
    flex: 0 1 auto;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF;
    font-size: 1.5em;
    height: 50px;
    background: #66DF4C;
    border-radius: 4px;
    border: none;
    margin-top: 30px;
}


.form__resetlink {
text-align:center;
}

@media (hover) {
    .form__resetlink--link:hover {
        color: 66DF4C;
    }
}

@media (hover: none) {
    .form__resetlink--link {
        color: 66DF4C;
    }
}