@import "fonts.css";
@import "buttonbar.css";
@import "container.css";
@import "menubar.css";
@import "login.css";
@import "registreer.css";
@import "error.css";
@import "form.css";
@import "articlelst.css";
@import "stall.css";


*.header *::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 1em;
}

textarea:focus, input:focus{
    outline: none;
}

html {
    font-size: 100%;
}

body {
    box-sizing: border-box;
    margin: 0px;
}

body {
    /* font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.2; */
    color: #777;
    /* font-size: 1em; */
}

