@import "fonts.css";
@import "buttonbar.css";
@import "container.css";
@import "menubar.css";
@import "login.css";
@import "registreer.css";
@import "error.css";
@import "form.css";
@import "articlelst.css";
@import "stall.css";


:root {
    --backdropcolor: #00000066;
    --fgcolor: #777777;
    --buttoncolor: #66DF4C;
    --linkhovercolor: #66DF4C;
    --btnfgcolor: #FFFFFF ;
    --bkgroundcolor: #ffffff;
    --bordercolor: #1919193F;
    --formerrorcolor: #FF0000;
    --formfieldbkgroundcolor: #e6e6e6;
    --artcatbgcolor:#FF0000;
    --artcatfgcolor:#FFFFFF;

    --barbkgroundcolor: #FAFAFA;
    --swipedelbuttoncolor: #FF0000;
    --swipealtbuttoncolor: #FA500;
    --listitmtitlecolor: #FF0000;

}

*, *.header *::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 1em;
}

*:focus {
    outline: none;
    opacity: 0.9;
}

textarea:focus, input:focus{
    outline: none;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0px;
}

body {
    /* font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.2; */
    color: var(--fgcolor);
    /* font-size: 1em; */
}

